.navbar {
  background-color: var(--primary-color);
  color: rgba(116, 116, 116, 0.473);
  padding: 10px 20px;
  border: 1px solid #FFB606;
  border-radius: 5px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a {
  text-decoration: none;
  color: #FFB606;
}

.navbar li a:hover {
  border-bottom: 2px solid rgb(102, 150, 206);
}

.navbar li:last-child {
  display: flex;
  align-items: center;
}

.navbar li:last-child a {
  display: flex;
  align-items: center;
}

.navbar li:last-child a:hover {
  text-decoration: none;
}